*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }
  /* Font code close */
  /* Banner container */
  .banner-container{
    max-width: 1320px;
    margin: 0 auto;
    min-height: 600px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(../images/BannerImage.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
  }
  .banner-pra{
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: 00;
  }
  .banner-head{
    color: white;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
  }
  .banner-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
  }
  /* 65% off section starts here */
  .offer-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 90px;
  
  }
  .offer-container-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .offer-container-content h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
  }
  .offer-container-content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
  }
  .offer-container-content h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
  }
  .offer-image-content{
    margin-top: 30px;
  }
  /* Midnight party container  */
  .midnight-party-container{
    width: 1320px;
    height: 600px;
    border: 2px solid red;
    margin: 0 auto;
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url(../images/Vectorrr.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
  }
  .leftside-content{
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  .leftside-content h1{
    color: rgb(255, 255, 255);
    font-family: Merriwea;
    font-size: 64px;
    font-weight: 900;
  }
  .leftside-content p{
    color: rgb(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-left: 90px;
    margin-top: 15px;
  }
  .rightside-content{
    width: 50%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #midnight-button{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-right: 250px;
    margin-top: 30px;
  }